<div class="layout-container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>Courier's Knowledge</h2>
    </div>
    <nav class="sidebar-nav">
      <a routerLink="/app/dashboard" routerLinkActive="active">
        <span>Avaliações</span>
      </a>
      <a routerLink="/app/live" routerLinkActive="active">
        <span>Ao Vivo</span>
      </a>
      <a routerLink="/app/matches" routerLinkActive="active">
        <span>Partidas</span>
      </a>
      <a routerLink="/app/friends" routerLinkActive="active">
        <span>Amigos</span>
      </a>
        <a routerLink="/app/get-premium" routerLinkActive="active">
        <span>Premium</span>
      </a>
      </nav>


    <a routerLink="/app/profile" class="sidebar-footer user-profile-link" *ngIf="userProfile">
      <div class="user-details">
        <img [src]="userProfile.avatarUrl" alt="Avatar" class="user-avatar">
        <span class="user-name">{{ userProfile.steamUsername }}</span>
      </div>
      <div class="updates-counter">
        <span>Atualizações: {{ userProfile.remainingUpdates }} / {{ userProfile.totalUpdates }}</span>
        <div class="tooltip">
          <i class="info-icon">?</i>
          <span class="tooltip-text">{{ updateLimitTooltip }}</span>
        </div>
      </div>
      </a>
    <button class="logout-button" (click)="logout()">Sair</button>

  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
